/* Reset and General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(45deg, #1c1c1c, #2d2d2d); /* Futuristic Gradient */
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  text-transform: uppercase;
}

/* Header Styling */
header {
  background-color: #ffb81c; /* Yellow */
  padding: 100px 0;
  color: #fff;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

.header-content h1 {
  font-size: 4em;
  font-weight: bold;
}

.header-content p {
  font-size: 1.5em;
  margin-top: 10px;
}

.typing-effect {
  font-size: 1.5em;
  color: #ffb81c;
  margin-top: 20px;
  font-family: 'Courier New', Courier, monospace;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid #ffb81c;
}

/* About Section */
.section {
  padding: 60px 15%;
  margin-top: 20px;
  background-color: #333;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(58, 58, 58, 0.5);
}

.section-title h2 {
  font-size: 2.5em;
  color: #ffb81c;
  margin-bottom: 20px;
}

.section-content p {
  font-size: 1.1em;
  line-height: 1.8;
  color: #ccc;
  max-width: 800px;
  margin: 0 auto;
}

/* Projects Section */
.projects-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.project-card {
  background-color: #444;
  padding: 30px;
  width: 280px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card h3 {
  color: #ffb81c;
  font-size: 1.8em;
}

.project-card p {
  font-size: 1em;
  color: #ccc;
}

.project-card a {
  color: #ffb81c;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  margin-top: 15px;
  transition: color 0.3s ease;
}

.project-card a:hover {
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ffb81c;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ff9d00;
}

/* Footer */
footer {
  padding: 20px;
  background-color: #000;
  color: #ffb81c;
}

footer a {
  color: #ffb81c;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #fff;
}
